img{
    width: 100%;
}
.R{
border-radius: 50%;
}
.T{
    border-radius: 50%;
}
.M{
    border-radius: 50%;
}
.F{
    border-radius: 50%;
}
.gg{
    font-family: 'Playfair Display', serif;
}
.navbar{
    font-family: 'Playfair Display', serif;
}